body{
    background-color: blue(32, 1, 1);
}
.teste{
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 55px;
    text-align: center;
    color: brown;
}